
:host {
    display: flex;
    position: relative;
    border: 1px solid #191919;
    border-radius: .75em;
    background: linear-gradient(to top, #b4b4b4, #a0a0a0);
    color: #000;
    padding: 0;
    white-space: nowrap;
    box-shadow: 0 1px 1px #878787;
    height: 1.5em;
    line-height: 1.5em;
    overflow: hidden;
    cursor: default;
    -webkit-user-select: none;
}
:host(:hover) {
    background: #b7b7b7;
}
:host label,
:host input,
:host b-value {
    font: 1em sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5em;
}
:host label {
    min-width: 0;
    overflow: hidden;
}
:host b-value {
    flex-grow: 1;
    text-align: right;
}
:host input {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    text-align: left;
    padding: 0 0.75em;
    background: linear-gradient(to bottom, #848484, #989898);
    color: #fff;
    border-radius: 0.75em;
    width: calc(100% - 1.5em);
    height: 1.5em;
}
:host input::selection {
    background: #5a5a5a;
    color: #fff;
}
b-arrow-left,
b-arrow-right {
    display: block;
    position: relative;
    width: 1.1em;
}
b-arrow-left:before,
b-arrow-right:after {
    content: '';
    position: absolute;
    top: 0.5em;
    border: 0.4em solid transparent;
    border-top-width: 0.3em;
    border-bottom-width: 0.3em; 
}
b-arrow-left:before {
    border-right-color: #767676; 
}
b-arrow-right:after {
    left: 0.5em;
    border-left-color: #767676; 
}