@import "../theme";

.number {
    position: relative;
    display: flex;
    align-items: center;
    @include font();
    width: 100%;
    height: 1.6em;
    line-height: 1.6;
    border-radius: .75em;
    @include shaded($numberInner, $numberShadeTop, $numberShadeBottom); 
    overflow: hidden;
    border: 1px solid rgba($numberOutline, 0.8);
    box-sizing: content-box;
    @include emboss;
    &:hover {
        @include shaded($numberInner, $numberShadeTop + $hoverAmount, $numberShadeBottom + $hoverAmount);
    }
    color: $numberText;
}
.number__label {
    flex-shrink: 1;
    white-space: nowrap;
    min-width: 0;
    overflow: hidden;
}
.number__value {
    flex-grow: 1;
    text-align: right;
    min-width: 0;
}
.number__label:after {
    content: ':';
}
.number__label--empty:after {
    content: ''
}

.arrow {
    width: 1.25em;
    height: 100%;
    position: relative;
}
.arrow:after {
    content: '';
    position: absolute;
    top: 0.5em;
    border: 0.4em solid transparent;
    border-top-width: 0.3em;
    border-bottom-width: 0.3em;
}
.left-arrow,
.right-arrow {
    composes: arrow;
}
.left-arrow:after {
    border-right-color: $numberItem;
    left: 0.1em;
}
.right-arrow:after {
    right: 0.1em;
    border-left-color: rgba($numberItem, 0.6);
}
.number__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    line-height: 1.5;
    @include font();
    @include shaded($numberInnerSelected, $numberShadeTop, $numberShadeBottom);
    color: $numberTextSelected;
    padding: 0 0.75em;
    border: 0;
    outline: none;
    -webkit-appearance: none;
    cursor: default;
    opacity: 0;
}
.number__input--active,
.number__input:focus {
    opacity: 1;
    cursor: text;
}
.number__input::selection {
    background: $numberItem;
    color: $numberTextSelected;
}
b-group > b-number {
    .number {
        border-radius: 0;
        border-top-width: 0;
    }
    &:first-child .number {
        border-top-width: 1px;
        border-top-left-radius: .75em;
        border-top-right-radius: .75em;
    }
    &:last-child .number {
        border-bottom-left-radius: .75em;
        border-bottom-right-radius: .75em;
    }
}