@import  '../src/settings.scss';
@import  './base.scss';

html {
    --b-font-size: 1em;
    $toolInner: #999999;
    $toolInnerSelected: #646464;
    $toolShadeTop: 15;
    $toolShadeDown: -15;
    --b-tool-inner: linear-gradient(to bottom, shade($toolInner, $toolShadeTop), shade($toolInner, $toolShadeDown));
    --b-tool-inner-selected: linear-gradient(to top, shade($toolInnerSelected, $toolShadeTop), shade($toolInnerSelected, $toolShadeDown));
    --b-tool-text: #000;
    --b-tool-text-selected: #fff;
    --b-tool-outline: #191919;
    --b-emboss: rgba(#fff, 0.1)
}
