@import  '../src/settings.scss';
@import  './base.scss';

html {
    --b-font-size: 1em;
    $toolShadeTop: 15;
    $toolShadeDown: -15;
    --b-tool-inner: shaded(#999999, $toolShadeTop, $toolShadeDown);
    --b-tool-inner-selected: shaded(#646464, $toolShadeDown, $toolShadeTop);
    --b-tool-text: #000;
    --b-tool-text-selected: #fff;
    --b-tool-outline: #191919;
    --b-emboss: rgba(#fff, 0.1)
}
