$buttonRadius: 4px;

@mixin emboss {
    box-shadow: 1px 1px 0 0 var(--b-emboss);
}

// Background gradient based on one color and shades
@function shaded($color, $shadeTop, $shadeBottom) {
    $topColor: rgb(red($color) + $shadeTop, green($color) + $shadeTop, blue($color) + $shadeTop);
    $bottomColor: rgb(red($color) + $shadeBottom, green($color) + $shadeBottom, blue($color) + $shadeBottom);
    @return linear-gradient(to bottom, $topColor, $bottomColor);
}