@import  'settings.scss';

button {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0.1em 0 0 0.5em;
    overflow: hidden;
    -webkit-appearance: none;
    background: var(--b-tool-inner,  $toolInner);
    color: var(--b-tool-text, $toolText);
    border: 1px solid var(--b-tool-outline, $toolOutline);
    border-top-width: var(--b-button-border-top, 1px);
    border-left-width: var(--b-button-border-left, 1px);
    border-top-left-radius: var(--b-button-top-left-radius, $buttonRadius);
    border-top-right-radius: var(--b-button-top-right-radius, $buttonRadius);
    border-bottom-right-radius: var(--b-button-bottom-right-radius, $buttonRadius);
    border-bottom-left-radius: var(--b-button-bottom-left-radius, $buttonRadius);
    line-height: 1.7;
    white-space: nowrap;
    @include font();
    @include emboss();

    &:focus,
    &:disabled:hover {
        outline: none;
        position: relative;

        &:after {
            box-shadow: none;
            background: rgba(#fff, 0.15);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            pointer-events: none;
        }
    }
    &:disabled {
        opacity: 0.5;
    }
    &:active {
        &:after {
            display: none;
        }
        background: var(--b-tool-inner-selected, $toolInnerSelected);
        color: var(--b-tool-text-selected, $toolTextSelected);
    }
}