@import  'settings.scss';

b-column {
    display: flex;
    flex-direction: column;

    & > b-button {
        flex: 1;
        min-width: 0;

        --b-button-border-top: 0;
        --b-button-top-left-radius: 0;
        --b-button-top-right-radius: 0;
        --b-button-bottom-right-radius: 0;
        --b-button-bottom-left-radius: 0;
        &:first-child {
            --b-button-border-top: 1px;
            --b-button-top-left-radius: $buttonRadius;
            --b-button-top-right-radius: $buttonRadius;
        }
        &:last-child {
            --b-button-bottom-left-radius: $buttonRadius;
            --b-button-bottom-right-radius: $buttonRadius;
        }
    }
}
