@mixin font() {
    font: 1em sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@function shiftColor($color, $amount) {
    @return rgb(red($color) + $amount, green($color) + $amount, blue($color) + $amount); 
}
// Background gradient based on one color and shades
@mixin shaded($color, $shadeTop, $shadeBottom) {
    background: linear-gradient(to bottom, shiftColor($color, $shadeTop), shiftColor($color, $shadeBottom));
}
// Give the box a thin line at the bottom
@mixin emboss() {
    box-shadow: 0 1px 0 rgba(#fff, 0.15);
}

$font: 1em sans-serif;
$hoverAmount: 15 !default;
$focusAmount: 10 !default;

$toolInner: #999999;
$toolInnerSelected: #646464;
$toolOutline: #191919;
$toolText: #000000;
$toolTextSelected: #ffffff;
$toolShadeTop: 15;
$toolShadeBottom: -15;

$numberOutline: #191919;
$numberItem: #5A5A5A;
$numberInner: #B4B4B4;
$numberInnerSelected: #999999;
$numberShadeTop: -20;
$numberShadeBottom: 0;
$numberText: #000000;
$numberTextSelected: #ffffff;

